.botaoSim{
    font-weight: bold !important;
    color: white !important;
    border-color: white !important;
    background-color: #fa98c3!important;
}

.botaoNao{
    font-weight: bold !important;
    color: white !important;
    border-color: white !important;
    background-color: #f8ddab !important;
}

.cardDel{
    box-shadow: 1px 1px 2px #fa98c3!important;
}