.cursor{
    cursor: pointer;
    color: white ;
}

.text-decorator-none{
    text-decoration: none;
}

.corNav{
    background-color: #6FC9D2 !important;
    box-shadow: 0 0 10px black !important;
}


