.box1{
    background-color: #58C3D3;
    height: "120px";
}

.box2{
    background-color: #6FC9D2;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
    color: white;
}