.box1{
    background-color: #58C3D3;
    height: "120px";
}

.box2{
    background-color: #6FC9D2;
    height: 40px;
}

.textos{
    color: white;
}

.link{
    text-decoration: none !important;
}

.lin{
    font-size: 40px !important;
    color: white;
}

.git{
    font-size: 32px !important;
    color: white;
}


