.caixa{
    background-color: #58C3D3;
}

.titulo{
    color: white !important; 
    font-weight: bold !important;
    margin: 0 !important;
    padding: 10px;
}

.subtitulo{
    color: #e9d7b5 !important; 
    font-weight: bold !important;
    padding: 20px;
}

.botao{
    border-color: white !important;
    color: white !important;
}

.postagens{
    background-color: white;
}

.text-decorator-none{
    text-decoration: none;
}

.imgInicio{
    margin: 0px !important;
}

/* 
58C3D3 - azul
D8EEEC - quase branco
EDB13F - laranja
D9792D - laranja mais escuro
6FC9D2 - azul mais claro
FAD1E3 - rosa

*/